# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
*.egg

# Virtual environments
.venv/
venv/

# Testing and coverage
.pytest_cache/
htmlcov/
.coverage
coverage.*

# env file
.env

# IDE
.idea/
.vscode/
*.swp

# Build directories created by intentc
build-*
**/.intentc/state
